body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f5f5f5;
}
.container {
    width: 80%;
    margin: 20px auto;
    background: white;
    padding: 30px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
h1 {
    font-size: 32px;
    margin-bottom: 5px;
}
.subtitle {
    color: gray;
    font-size: 16px;
    color:  #2bc0c4;
}
.section-title {
    color: #2bc0c4;
    font-size: 24px;
    margin-top: 25px;
    border-bottom: 2px solid #2bc0c4;
    display: inline-block;
    padding-bottom: 5px;
}
.flex {
    display: flex;
    gap: 20px;
}
.left, .right {
    width: 50%;
}
ul {
    margin-top: 10px;
}
.tags span {
    background: #c1f3f4;
    padding: 5px 10px;
    margin: 5px;
    display: inline-block;
    border-radius: 5px;
}