    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    nav {
        width: 100%;
        background: black;
        padding: 15px 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .logo {
        color: white;
        font-size: 24px;
        font-weight: bold;
    }
    .nav-links {
        display: flex;
        gap: 25px;
    }

    .nav-links a {
        color: white;
        text-decoration: none;
        font-size: 20px;
    }

    .menu {
        width: 28px;
        height: 20px;
        display: none;
        flex-direction: column;
        justify-content: space-between;
    }

    .menu div {
        width: 28px;
        height: 3px;
        background: white;
        border-radius: 15%
    }

     @media (max-width: 750px) {
        .nav-links {
            display: none;
            position: absolute;
            top: 55px;
            left: 0px;
            width: 100%;
            background: black;
            flex-direction: column;
            padding: 20px;
            gap: 20px;
            text-align: center;
        }

        .menu {
            display: flex;
        }

        nav:hover .nav-links {
            display: flex;
        }
    }
    