 html, body {
            height: 100%;
            margin: 0;
            padding: 0;
        }
        body {
            height: 50%;
            margin: 0;
            padding: 0;                     
            display: flex;                     
            flex-direction: column;                     
        }
        header {                     
            background-color: #4CAF50;                     
            color: white;                     
            text-align: center;                     
            padding: 1em;
        }
        main {                     
            flex: 1;                     
            display: grid;                     
            grid-template-columns: 1fr 3fr;                     
            gap: 10px;                     
            padding: 10px;
        }
        .box {                     
            background-color: #cd3131;                     
            padding: 20px;                     
            text-align: center;  
            gap: 10px;
            height: auto; 
            width: fit-content ;  
            flex-wrap: wrap ;                
        }
        @media screen and (max-width: 600px) {                     
            main {                         
                grid-template-columns: 5fr;
                display: grid ;
                gap: 10px;                  
            }                 
        }